body {
  border-radius: 0px;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}



.pc {
  width: 10%;
}

.box-0{
transition: 0.5s ease all;
width: 105%;
}

.box-0:hover{
  transform: scale(1.03);
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-text {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}