button {
  width: 30%;
  height: 60px;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: #d80df3;
  background-color: black;
  border-radius: 10px;
  border: solid #d80df3;
  padding-top: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  transition: 0.3s ease all;

  box-shadow: 0 0 5px #0d0c0e,
    0 0 5px #d80df3;
}

button:before {
  border: solid #d80df3;
  z-index: -1;
  transition: 0, 5s ease all;
  position: absolute;
  left: 50%;
  right: 50%;
}

button:hover,
button:focus {
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  /* opacity: 1; */
  left: 0;
  right: 0;
}

button:active {
  transform: scale(0.9);
}