.section {
  padding: 50px 20px;
  margin: auto;
  text-align: center;
}


/* ===========================================
   SECTION TWO
=========================================== */
.contact-grid {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.service-card {
  border: 8px solid hsl(0, 0%, 100%);
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* ===========================================
   SECTION THREE
=========================================== */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  border: 8px solid hsl(0, 0%, 100%);
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.product-card:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}