.section {
  padding: 50px 20px;
  margin: auto;
  text-align: center;
}

h2 {
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.contact {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card1 {
  border: 8px solid hsl(0, 0%, 100%);
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border: 8px solid hsl(0, 0%, 100%);
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.card:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 2px;
  margin: 0px;
}