.profile {
  width: 50%;
  /* height: 400px; */
  border-radius: 50%;
  margin-top: 10%;
  position: relative;
  transition: 0.3s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:focus,
.profile:hover {
  transform: scale(1.2);
  transition: 0, 5s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
  top: 0;
  right: 0;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  /* opacity: 1; */
  left: 0;
  right: 0;
}

.left-pic-1 {
  width: 370px;
  height: 307px;
}

.left-pic {
  width: 370px;
  height: 307px;
}

.projects {
  width: 370px;
  height: 307px;
}
























.right-pic {
  width: 100%;
}

.right-pic-2 {
  width: 100%;
}