* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.profile {
  width: 50%;
  height: auto;
  border-radius: 5%;
  margin-top: 10%;
  position: relative;
  transition: 0.3s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:focus,
.profile:hover {
  transform: scale(1.2);
  transition: 0, 5s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
  top: 0;
  right: 0;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  /* opacity: 1; */
  left: 0;
  right: 0;
}

.picture {
  width: 100%;
  border-radius: 10px;
  height: 270px;
}

.my-work {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.mother {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  z-index: 1;
  transition: box-shadow 0.3 ease all;
  position: absolute;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0 5px #d80df3,
    0px 0 5px #d80df3;
}

.logo:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 25px #d80df3,
    0px 0px 50px #d80df3;
  transition: 0.3s ease all;
}

button {
  width: 30%;
  height: 40px;
  font-size: 16px;
  color: #d80df3;
  background: black;
  border-radius: 10px;
  border: solid #d80df3;
  margin: 5% 0;
  position: relative;
  transition: 0.3s ease all;

  box-shadow: 0 0 5px #0d0c0e,
    0 0 5px #d80df3;
}

button:before {
  border: solid #d80df3;
  z-index: -1;
  transition: 0, 5s ease all;
  position: absolute;
  left: 50%;
  right: 50%;
}

button:hover,
button:focus {
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  left: 0;
  right: 0;
}

button:active {
  transform: scale(0.9);
}

@media (max-width: 1024px) {
  button {
    width: 40%;
  }

  .mother {
    width: 40%;
  }

  .picture {
    width: 300px;
    height: 200px;
  }

  .my-work {
    width: 300px;
    height: 235px;
  }
}

@media (max-width: 768px) {
 
  button {
    width: 85%;
    margin: 50px auto;
  }

  .mother {
    margin: 0px auto;
    width: 85%;
  }

  .profile {
  display: none;
  }

  .picture {
    width: 300px;
    height: 200px;
  }

  .my-work {
    width: 290px;
    height: 250px;
  }
  
  .logo-box {
    margin-top: 20px;
  }
    .biblography {
    margin: 60px 0 20px;
  }

}

@media (max-width: 360px) {
  button {
    width: 65%;
    margin: 50px auto;
  }

  .mother {
    margin: 0px auto;
    width: 65%;
  }

  .profile {
    display: none;
  }

  .picture {
    width: 300px;
    height: 200px;
  }

  .picture {
    width: 280px;
    height: 230px;
  }

  .my-work {
    width: 300px;
    height: 255px;
    margin-bottom: 5px;
  }
  
  .logo-box {
    margin-top: 20px;
  }
}