.profile {
  width: 50%;
  height: auto;
  border-radius: 5%;
  margin-top: 10%;
  position: relative;
  transition: 0.3s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
}

.profile:focus,
.profile:hover {
  transform: scale(1.2);
  transition: 0, 5s ease all;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3;
  top: 0;
  right: 0;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  /* opacity: 1; */
  left: 0;
  right: 0;
}

.picture {
  width: 400px;
  height: 300px;
}

.my-work {
  width: 370px;
  height: 307px;
}

.mother {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  z-index: 1;
  transition: box-shadow 0.3 ease all;
  position: absolute;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0 5px #d80df3,
    0px 0 5px #d80df3;
}

.logo:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 25px #d80df3,
    0px 0px 50px #d80df3;
  transition: 0.3s ease all;
}

button {
  width: 30%;
  height: 60px;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: #d80df3;
  background-color: black;
  border-radius: 10px;
  border: solid #d80df3;
  padding-top: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  transition: 0.3s ease all;

  box-shadow: 0 0 5px #0d0c0e,
    0 0 5px #d80df3;
}

button:before {
  border: solid #d80df3;
  z-index: -1;
  transition: 0, 5s ease all;
  position: absolute;
  left: 50%;
  right: 50%;
}

button:hover,
button:focus {
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}

button:hover,
button:focus:before {
  transition: 0, 5s ease all;
  left: 0;
  right: 0;
}

button:active {
  transform: scale(0.9);
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}