.mother {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  z-index: 1;
  transition: box-shadow 0.3 ease all;
  position: absolute;
}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0 5px #d80df3,
  0px 0 5px #d80df3;
}

.logo:hover{
  transform: translateY(-15px);
  box-shadow: 0px 0px 25px #d80df3,
  0px 0px 50px #d80df3;
  transition: 0.3s ease all;
}