nav {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 8px;
  right: 8px;
  top: 0;
  z-index: 1;
}

nav p:nth-child(1) {
  margin-top: -5px;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 25%;

  width: 10%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: 'cherry Swash', cursive;
  /*note*/
  text-shadow: 2px 2px 4px black;
  /*note*/
  transition: 0.3s ease all;
}

nav p:hover:nth-child(1) {
  font-size: 30px;
  transform: scale(1.2);
  transition: 0.5s ease all;
}

span {
  color: #d80df3;
}

nav p:nth-child(2) {
  color: #d80df3;
  width: 12%;
  margin-left: 30%;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 2px black;
  transition: 0.3s ease all;
}

nav p:nth-child(3) {
  width: 12%;
  font-weight: bold;
  color: #d80df3;
  text-align: center;
  text-shadow: 0px 0px 2px black;
  transition: 0.3s ease all;
}

nav p:nth-child(4) {
  width: 15%;
  margin-right: 10%;
  font-weight: bold;
  color: #d80df3;
  text-align: center;
  text-shadow: 0px 0px 2px black;
  transition: 0.3s ease all;
}

nav p:nth-child(2):hover {
  transform: scale(1.2);
  transition: 0.5s ease all;
}

nav p:nth-child(3):hover {
  transform: scale(1.2);
  transition: 0.5s ease all;
}

nav p:nth-child(4):hover {
  transform: scale(1.2);
}