body {
  margin: 0;
  font-family: sans-serif;
  border: 8px solid #d80df3;
  border-radius: 0px;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}

#one {
  width: 100%;
  height: 100%;
  background-color: black;
}

.grid-box-1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
  padding-top: 10%;
}

.son,
.daughter {
  width: 85%;
  padding-bottom: 100px;
  padding-left: 15%;
}

#two {
  width: 100%;
  height: 100%;
}

.uncle {
  width: 40%;
  height: 100%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 6%;
  padding-bottom: 8%;
}

.grid-box-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.box,
.box-0 {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0 10px 1px rgb(238, 238, 238);
  transition: 0.3s ease ease-out;
}

.box-0:hover {
  transform: scale(1.03);
}

.box:hover:nth-child(1) {
  transform: translate(-5px, -10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(2) {
  transform: translate(5px, -10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(3) {
  transform: translate(-5px, 10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(4) {
  transform: translate(5px, 10px);
  transition: 0.5s ease all;
}

#three {
  background-color: black;
  padding: 20px;
}

.mzo {
  background-color: #fff;
  width: 370px;
  height: 370px;
  transition: 100ms ease-in-out;
  margin: 0;
}

.container--one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}

.container--two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.mzo:hover {
  transform: scale(1.03);
  transition: 0.5s ease all;
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}