* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  border: 8px solid #d80df3;
  border-radius: 0px;
  box-shadow: 0 0 5px #d80df3,
    0 0 25px #d80df3, 0 0 50px #d80df3,
    0 0 100px #d80df3, 0 0 200px #d80df3;
}

#one {
  width: 100%;
  background-color: black;
}

.grid-box-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 100px 5%;
  align-items: center;
}

.son,
.daughter {
  width: 85%;
  padding-bottom: 100px;
  padding-left: 15%;
}

#two {
  width: 100%;
  padding: 0;
  margin: 0 0;
}

.uncle {
  width: 50%;
  padding: 0;
  margin: 20px auto;
}

.grid-box-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 20px;
  column-gap: 20px;
}

.box,
.box-0 {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgb(238, 238, 238);
  transition: 0.3s ease;
}

#three {
  width: 100%;
  background-color: black;
  padding: 20px;
  margin: 0 0;
}

.mzo {
  width: 100%;
  max-width: 400px;
  height: 350px;
  padding: 5px;
  background: #fff;
  transition: 0.3s ease;
  margin: 0 auto;
}

.container--one {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
}

.container--two {
  margin: 20px auto;
}

.box-0:hover {
  transform: scale(1.03);
}

.box:hover:nth-child(1) {
  transform: translate(-5px, -10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(2) {
  transform: translate(5px, -10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(3) {
  transform: translate(-5px, 10px);
  transition: 0.5s ease all;
}

.box:hover:nth-child(4) {
  transform: translate(5px, 10px);
  transition: 0.5s ease all;
}

.mzo:hover {
  transform: scale(1.03);
  transition: 0.5s ease all;
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {

.container--one {
  width: 60%;
}
.uncle {
  width: 62%;
  padding: 0;
  margin: 20px auto;
}
.grid-box-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 20px;
  column-gap: 20px;
}
  .mzo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .box,
  .box-0 {
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 768px) {
  .grid-box-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .container--one,
  .container--two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .grid-box-1 {
    grid-template-columns: 1 fr 1fr;
    text-align: center;
  }

  .son,
  .daughter {
    padding: 0;
    width: 100%;
  }

  .uncle {
    padding: 20px;
    width: 100%;
  }

  .container--one,
  .container--two {
    flex-direction: column;
    align-items: center;
  }

  .box,
  .box-0 {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgb(238, 238, 238);
    transition: 0.3s ease;
  }
}