p {
  color: white;
  font-family: arial;
  font-size: 1.3rem;
  word-spacing: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: arial;
  color: #d80df3;
  font-size: 4.5rem;
  margin-top: 10%;
  margin-bottom: 5%;
}

.purple-header {
  color: #d80df3;
  font-family: arial;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 0;
  padding-bottom: 5%;
  text-shadow: 2px 2px 4px black;
}

.inline-text {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.right {
  font-family: arial;
  font-size: 1rem;
  color: #d80df3;
  padding-bottom: 5%;
}

.left {
  font-family: arial;
  font-size: 1rem;
  color: #d80df3;
  text-align: end;
  padding-bottom: 5%;
}

.channel {
  font-family: arial;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  padding-bottom: 2%;
  padding-left: 5%;
}

.purple {
  font-family: arial;
  font-size: 1.3rem;
  color: #d80df3;
  text-align: center;
  padding-bottom: 2%;
}

.detail {
  font-family: arial;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 2%;
}

.biblography {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding-top: 5%;
  padding-bottom: 2%;
  cursor: default;
  transition: 0.3s ease all;
}

.biblography p:hover {
  transform: scale(1.2);
  transition: 0.5s ease all;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}