* {
  box-sizing: border-box;
}

p {
  color: white;
  font-family: arial;
  font-size: 16px;
  margin: 0
}

h1 {
  font-family: arial;
  color: #d80df3;
  font-size: 4.5rem;
  margin: 50px 0;
}

.purple-header {
  color: #d80df3;
  font-family: arial;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding: 50px 0;
  text-shadow: 2px 2px 4px black;
}

.inline-text {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.right {
  font-family: arial;
  font-size: 1rem;
  color: #d80df3;
  padding-bottom: 5%;
}

.left {
  font-family: arial;
  color: #d80df3;
  text-align: end;
  padding-bottom: 5%;
}

.channel {
  font-family: arial;
  font-weight: bold;
  color: black;
  padding-bottom: 2%;
  padding-left: 5%;
}

.purple {
  font-size: 18px;
  color: #d80df3;
  text-align: center;
  padding-bottom: 2%;
}

.detail {
  font-weight: bold;
  color: black;
  text-align: center;
  padding-bottom: 2%;
}

.biblography {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding-top: 5%;
  padding-bottom: 2%;
  cursor: default;
  transition: 0.3s ease all;
}

.biblography p:hover {
  transform: scale(1.2);
  transition: 0.5s ease all;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {

  .purple-header {
    font-size: 18px;
  }

  p,
  .purple,
  .detail {
    font-size: 14px;
  }

  .right,
  .left,
  .channel {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .purple-header {
    font-size: 18px;
  }

  p,
  .purple,
  .detail {
    font-size: 10px;
  }

  .right,
  .left,
  .channel {
    font-size: 10px;
  }

  .biblography {
    column-gap: 25px;
    margin: 60px 0 20px;
  }
}